

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
}
.container{
  width: 90%;
  max-width: 400px;
}
h1,.container{
  margin: 20px auto;
}
label {
  font-weight: bold;
}

label,
button,
input {
  margin-bottom: 10px;
}

button,
input {
  min-height: 24px;
}

button{
    cursor: pointer;
    text-decoration: none;
}

button,
input {
  min-height: 24px;
}

.input-container {
  display: flex;
  flex-direction: column;
}
.register-btn, .login-btn {
  text-align: right;
}
a {
 
    color:#0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border:3px solid #feac32;
    text-decoration: none;
}
.nav-link {
  margin: 30px;
    text-align: right;
}
.server-time {
  color:red;
  font-weight: 100;
}

.link {
  text-align: center;
}
.link a {
  color:blue ;
    background-color: transparent;
    background-image: none;
   border:none;
    text-decoration: none;
}
.error {
  color:red;
}